@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Commodus';
  src: url('/fonts/Commodus-GreekAlt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}